
header{
  background-color: grey;
}

.clear{
  clear: both;
}

.logo{
  height: 80px;
}

.lf-item {
  float: left;
  display: flex;
  align-items: center;
}
.rg-item {
  float: right;
  display: flex;
  align-items: center;
}

