<header>

  <div [ngClass]="'lf-item'">
    <div>
      <img [ngClass]="'logo'" src="https://res.cloudinary.com/practicaldev/image/fetch/s--DYfpZirq--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://miro.medium.com/max/990/1%2AOc2PsJ-QKOUG2I8J3HNmWQ.png">
    </div>
    <div>{{ empresa }}</div>
  </div>
  <div [ngClass]="'rg-item'">
    <div>{{ practica }}</div>
  </div>

  <div class="clear"></div>

  <nav [ngClass]="'navbar navbar-dark bg-primary'">
    <div [ngClass]="''">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="projects/new"> ➕ Nuevo Proyecto</a>
          </li>
        </ul>
      </div>

      <a class="nav-link active text-white float-start" routerLink="home"> Home</a>
      <a class="nav-link active text-white float-start" routerLink="about"> About</a>
      <a class="nav-link active text-white float-start" routerLink="transaction/new"> Transacción</a>
      <a class="nav-link active text-white float-start" routerLink="auth/login"> Login</a>

      <a class="nav-link active text-white float-start" routerLink="contacto"> Contacto</a>
      <a class="nav-link active  text-white  float-start" routerLink="projects/new"> ➕ Nuevo Proyecto</a>

      <!-- <a [ngClass]="'home navbar-brand'" routerLink="home">
        Home
      </a>
      <a [ngClass]="'navbar-brand'" routerLink="contacto">
        Contacto
      </a>
      <a [ngClass]="'navbar-brand'" routerLink="about">
        About
      </a>
      <a [ngClass]="'navbar-brand'" routerLink="transaction/new">
        Transaction
      </a>
      <a [ngClass]="'home navbar-brand'" routerLink="auth/login">
        Login
      </a> -->
    </div>

  </nav>

  <div class="clear"></div>

  <span>{{ message }}</span>
</header>

