.card{
  width: 350px;
  height: auto;
  float: left;
  padding: 15px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.positive {
  color: green;
  font-weight: 800;
}

.negative {
  color: red;
  font-weight: 800;
}

.clear{
  clear: both;
}
